$btn-primary-color: #ff4f01;
$btn-secondary-color: #61616133;
$btn-tertiary-color: #fff;

$bg-primary-color: #212121;
$bg-primary-color99: #21212199;
$bg-secondary-color: #f4f7f8;
$bg-line-color: #02c755;

$text-primary-color: #212121;
$text-white-color: #fff;
$text-black-color: #000;
$text-blue-color: #5f5dec;
$text-blue0d-color: #5f5dec0d;
$text-orange-color: #ff4f01;
$text-bluelight-color: #9ba3af;
$text-red-color: #ff0000;

$boder-primary-color: #616161;
$boder-secondary-color: #e8eaee;
